@model IEnumerable<Registro_Actividad.Models.Persona>

﻿@{
    ViewData["Title"] = "Personas registradas";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Mensaje"] is string msg)
{
    <div class="alert alert-success" role="alert" >
        @msg
    </div>
}

<p>
    <a class="btn btn-primary" asp-controller="Personas" asp-action="Create">Registrar persona</a>
</p>

@if (!Model.Any())
{
    <p>No hay personas registradas aun</p>
}
else
{
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Telefono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Cedula</td>
                    <td>@r.Nombre</td>
                    <td>@r.Apellidos</td>
                    <td>@r.Edad</td>
                    <td>@r.Telefono</td>
                    <td>@r.Email</td>
                </tr>
            }
        </tbody>
    </table>
    
    <br />
    <hr />
    <br />

    <h3>Buscar persona por nombre</h3>
    <form asp-action="BuscarN" method="post">
        <div class="mb-3">
        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre" type="text" placeholder="Recomendado antes de eliminar" />
    </div>
        <button type="submit" class="btn btn-success">Buscar</button>

        <a class="btn btn-secondary" asp-action="Index">Limpiar</a>
    </form>

    <br />
    <hr />
    <br />

    <h3>Buscar persona por nombre</h3>
    <form asp-action="BuscarE" method="post">
        <div class="mb-3">
            <label for="edad">Edad</label>
            <input id="edad" name="edad" type="number" placeholder="Recomendado antes de eliminar"/>
        </div>
        <button type="submit" class="btn btn-success">Buscar</button>

        <a class="btn btn-secondary" asp-action="Index">Limpiar</a>
    </form>

    <br />
    <hr />
    <br />

    <h3>Eliminar persona por cédula</h3>
    <form asp-action="Delete" method="post">
        <div class="mb-3">
            <label for="cedula">Cedula</label>
            <input id="cedula" name="cedula" type="number" placeholder="Por favor busque antes la persona para asegurarse" />
        </div>
        <button type="submit" class="btn btn-success">Eliminar</button>

        <a class="btn btn-secondary" asp-action="Index">Limpiar</a>
    </form>
}